
/*reiniciando las reglas del navegador*/
body{
    margin: 0;
    background-color: darkgrey;
}

html{
    font-family: cursive, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

header{
    background-color:black;
    color: white;
    padding: 3rem 2rem;
}

header h1{
    font-size: 7rem;
    text-align: center;
}

.contenido{
    width: 400px;
    margin: 10px auto;
}

section article{
    transition: box-shadow 0.3s ease;
    background-color: wheat;
    margin: 1rem 0;
    border-radius: 0.9rem;
    padding: 0.25rem 0;
    cursor: not-allowed;
}

section article h2, section article p{
    margin: 2rem;
}

section article:hover{
    box-shadow: 0 0.1rem 5.1rem rgba(243, 229, 27, 0.548)
}

footer{
    background-color: black;
    padding: 2.9rem;
    color: white;   
}

footer section{
    float: right;
}

footer p{
    margin: 0;
}

footer a{
    transition: color 0.3s ease;
    color: white;
    text-decoration: none;
    cursor: pointer ;
}

footer a:hover{
    color: coral;
}